<% if @fase_pdv.cadena %>

<p>
  <b>Nombre de la Cadena:</b>
  <%= @fase_pdv.cadena.nombre %>
</p>

<p>
  <b>Pagina web:</b>
  <%= @fase_pdv.cadena.pagina_web %>
</p>

<p>
  <b>Actividad:</b>
  <%= @fase_pdv.cadena.actividad %>
</p>

<p>
  <b>Canal:</b>
  <%= @fase_pdv.cadena.canale %>
</p>

<p>
  <b>Formato:</b>
  <%= @fase_pdv.cadena.formato %>
</p>

<% end %>