<h1>Listing fases</h1>

<table>
  <tr>
    <th>Fecha</th>
    <th>Fase</th>
    <th>Responsable</th>
    <th>Encontradas</th>
    <th>Tiempo invertido</th>
    <th>Minutos consumidos</th>
    <th>Costo</th>
    <th>Comentario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fases.each do |fase| %>
  <tr>
    <td><%= fase.fecha %></td>
    <td><%= fase.fase %></td>
    <td><%= fase.responsable %></td>
    <td><%= fase.encontradas %></td>
    <td><%= fase.tiempo_invertido %></td>
    <td><%= fase.minutos_consumidos %></td>
    <td><%= fase.costo %></td>
    <td><%= fase.comentario %></td>
    <td><%= link_to 'Show', fase %></td>
    <td><%= link_to 'Edit', edit_fase_path(fase) %></td>
    <td><%= link_to 'Destroy', fase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fase', new_fase_path %>
