<h1>Listing capturas</h1>

<table>
  <tr>
    <th>Curt</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Comentario</th>
    <th>Fase</th>
    <th>Usuario</th>
    <th>Fecha</th>
    <th>Alcance</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @capturas.each do |captura| %>
  <tr>
    <td><%= captura.curt %></td>
    <td><%= captura.latitude %></td>
    <td><%= captura.longitude %></td>
    <td><%= captura.comentario %></td>
    <td><%= captura.fase %></td>
    <td><%= captura.usuario %></td>
    <td><%= captura.fecha %></td>
    <td><%= captura.alcance %></td>
    <td><%= link_to 'Show', captura %></td>
    <td><%= link_to 'Edit', edit_captura_path(captura) %></td>
    <td><%= link_to 'Destroy', captura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Captura', new_captura_path %>
